body
    margin 0 !important
    padding 0
    background-color $page-bg

table
    border-spacing 0
    font-family Arial, sans-serif
    font-size $base-font-size
    color $text-color

td
    padding 0

img
	width 100%
    height auto
    border 0

a
	color $link-color
	span
		color $link-color

li
    text-align -webkit-match-parent
    display list-item

div[style*="margin: 16px 0"]
    margin 0 !important

.wrapper
    width 100%
    table-layout fixed
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    background-color $page-bg

.webkit
    max-width $content-width
    margin 0 auto

.outer
	Margin 0 auto
	width 100%
	max-width $content-width
	background-color $content-bg
