.row
	text-align center
	font-size 0


.col-1-2
	width 100%
	max-width $col-1-2-width
	display inline-block
	vertical-align top


.col-1-3
	width 100%
	max-width $col-1-3-width
	display inline-block
	vertical-align top


// Текстовое содержимое колонок
.col-content
	width 100%
	font-size $base-font-size

	&--text-left
		text-align left




