$content-width = 600px
$col-1-2-width = $content-width / 2
$col-1-3-width = $content-width / 3


$page-bg = #ffffff
$content-bg = #ffffff
$text-color = #333333
$link-color = #9f021c


$base-font-size = 16px